header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
    header li {
        float: left;
    }
  
    header li a {
        display: block;
        color: black;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
    }
  
    header li a:hover {
        background-color: rgb(230, 230, 230);
        color: black;
    }

footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    footer li {
        float: left;
    }
  
    footer li a {
        display: block;
        color: black;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
    }
  
    footer li a:hover {
        background-color: rgb(230, 230, 230);
        color: black;
    }